* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  min-height: 1500px;
  overflow-x: hidden;
  height: 100vh;
  width: 100vw;
}

/*z-index used to blur out edges to next page*/
section:before {
  content: "";
  position: absolute;
}

section {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

section img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
  z-index: 3;
}

#home-page:before {
  bottom: 0;
  width: 100%;
  height: 50px;
  background: linear-gradient(to top , #ffffff, transparent);
  z-index: 4;
}

#about-page {
  background-color: #38d12d;
}

#dog {
  position: relative;
  width: auto;
  height: 10vh;
  margin-left: 3vw;
  margin-top: 66vh;
}

#sun {
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
}

/*z-index used here to layer components*/
#sky {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
}

#welcome {
  font-family: 'Fredoka One', cursive;
  text-shadow: 0 0 200px #d4d4d4, 0 0 200px #9c9c9c;
  letter-spacing: 15px;
  position: absolute;
  z-index: 4;
  color:#ffffff;
  font-size: 10vw;
  font-weight: bold;
  width:100%;
  text-align: center;
  bottom: 250px;
}

.font-amiko {
  font-family: "Amiko";
  font-weight: 600;
}

.nav-link:hover {
  color:#79b0ff !important;
}

.title-format {
  font-family: "Fredoka One";
}

.colored-word {
  color:#79b0ff;
  font-weight: bold;
}

/* .content-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.content-container .card {
  position: relative;
  padding: 5px;
  width: 270px;
  height: 250px;
  background: coral;
  margin: 27px;
  overflow: hidden;
  border-radius: 30px;
  box-shadow: 0px 15px 45px grey;
}

.content {
  padding: 10px;
}

.content-container .card .card-question {
  background: #79b0ff;
  height: 100vh;
  width: 100vw;
}

.content-container .card:hover .card-question {
  background: #79b0ff;
  height: 0;
  width: 0;
  color: transparent;
} */

.card-content {
  display: none;
}

.card-container:hover .card-content{
  display: block;
}

.card-container:hover .card-question {
  display: none;
}

.card-container {
  width: 100%;
  height: 450px;
}

.card-question, .card-content {
  margin: auto;
}

section {
  width: 100%;
}