#message-container {
  font-family: "Amiko";
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90vh;
}

#message-container p {
  margin: 0;
  text-align: center;
}